.fieldsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 4px;

  &--field {
    width: 80vw;
  }

  &--horizontalField {
    flex: 1;
    padding: 8px;
  }
}

.horizontalFieldsContainer {
  display: flex;
  gap: 12px;

  &--field {
    flex: 1;
  }
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}
