body {
  h1 {
    font-size: 69px;
  }

  h2 {
    font-size: 57px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 40px;
  }

  h5 {
    font-size: 33px;
  }

  h6 {
    font-size: 28px;
  }
}
