//Colors
$primary: #d04116;
$primary-dark: #571b09;
$primary-light: #d96745;

$secondary: #ededed;
$secondary-light: #f8c8b5;
$secondary-dark: #e04b0e;

$grey: #6e6e6e;
$grey-dark: #434343;
$grey-light: #c7c7c7;

$white: #ffffff;
$white-grey: #e9eaec;
