@import "./variants";

@mixin disabledBtn {
    color: $grey;
    background-color: $secondary;
    border: 1px solid $grey-dark;
}

@mixin defaultCheckboxMark {
    top: 5px;
    left: 4px;
    width: 7.5px;
    height: 5.5px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s;
}

@mixin defaultRadioIndicator {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@mixin defaultSelectorContainer {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 5px 30px;
    margin-bottom: 12px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@mixin defaultSelector {
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: #e9eaec;
    box-shadow: 0px 2px 2px -1px #4a4a6826 inset;
}

@mixin defaultSelectorInput {
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

@mixin commonSelector {
    @include defaultSelectorContainer;
    &:hover[data-disabled="false"] {
        background-color: $secondary;
    }
    /* Hide the browser's default checkbox */
    input {
        @include defaultSelectorInput;
    }

    &[data-disabled="true"] {
        cursor: not-allowed;
    }
}
