$primary: #d04116;
$primary-dark: #571b09;
$primary-light: #d96745;

$secondary: #ededed;
$secondary-dark: #e04b0e;
$secondary-light: #f8c8b5;

$grey: #6e6e6e;
$grey-dark: #434343;
$grey-light: #c7c7c7;

$text-orange: #8c2f09;
$border-orange-light: #e9a894;

$white: #ffffff;
$black: #000000;

$btn-lg-p: 12px;
$btn-md-p: 8px;
$btn-sm-p: 4px;

@font-face {
    font-family: "SatoshiB";
    src: url("../fonts/satoshi/Satoshi-Bold.otf") format("opentype");
}
@font-face {
    font-family: "SatoshiL";
    src: url("../fonts/satoshi/Satoshi-Light.otf") format("opentype");
}
@font-face {
    font-family: "SatoshiM";
    src: url("../fonts/satoshi/Satoshi-Medium.otf") format("opentype");
}
@font-face {
    font-family: "SatoshiR";
    src: url("../fonts/satoshi/Satoshi-Regular.otf") format("opentype");
}

$satoshi-bold: "SatoshiB", sans-serif;
$satoshi-light: "SatoshiL", sans-serif;
$satoshi-medium: "SatoshiM", sans-serif;
$satoshi-regular: "SatoshiR", sans-serif;
