@import "../../styles/variables.scss";

.table {
  width: 100%;
  border-collapse: collapse;

  tr:nth-child(even) {
    background-color: #ededed;
  }

  th {
    background-color: $primary;
    color: white;
  }

  td {
    text-align: center;
  }
}
