.actions {
    padding: 2px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    //justify-content: space-between; // Space between the elements
    align-items: center; // Optional: Align items vertically in the center (if needed)
}