.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; // Space between the elements
    align-items: center; // Optional: Align items vertically in the center (if needed)

    // Optional: Set a specific height for the container
    //height: 100px;
}

.searchbar-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .searchbar, .link-button {
                flex: 1;
                margin: 0 5px; /* Adjust spacing between buttons */
            }
        }
