.sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.logo-link {
    flex: 0 0 10%; /* 1/10 of the width */
    text-align: center;
}
  
.nav-links-container {
    flex: 1; /* Takes the rest of the height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents vertically */
    align-items: center; /* Center contents horizontally */
}
  
.form {
    margin-top: auto; /* Push the form to the bottom */
    text-align: center;
}