@import "../../../styles/index.scss";

/* The msv-checkbox */
.msv-checkbox {
    transition: background-color 0.4s;
    @include commonSelector;
}
/* Create a custom checkbox */
.checkmark {
    @include defaultSelector;
    border-radius: 3px;
    border: 1px solid #d1d3d8;
    transition:
        background-color 0.4s,
        opacity 0.4s;
}
/* When the checkbox is checked, add a blue background */
.msv-checkbox[data-disabled="false"] input:checked ~ .checkmark {
    background-color: $primary;
    border: 1px solid $primary;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    opacity: 0;
    position: absolute;
}
/* Show the checkmark when checked */
.msv-checkbox:hover input:checked ~ .checkmark:after,
.msv-checkbox:hover[data-disabled="false"] input ~ .checkmark:after,
.msv-checkbox input:checked ~ .checkmark:after {
    opacity: 1;
}
/* Style the checkmark/indicator */
.msv-checkbox:hover[data-disabled="false"] input:checked ~ .checkmark:after,
.msv-checkbox[data-disabled="false"] input:checked ~ .checkmark:after {
    @include defaultCheckboxMark;
    background-image: url("../../../components/molecules/Checkbox/images/checkmarkWhite.svg");
}
/* Style the checkmark/indicator */
.msv-checkbox:hover .checkmark:after,
.msv-checkbox .checkmark:after {
    @include defaultCheckboxMark;
    background-image: url("../../../components/molecules/Checkbox/images/checkmark.svg");
}
.msv-checkbox[data-focused="true"][data-checked="false"][data-disabled="false"] input ~ .checkmark {
    border: 3px solid $border-orange-light;
}
