@import "../../../styles/index.scss";

.msv-alert {
    padding: 12px;
    border: 1px solid;
    position: relative;
    border-radius: 500px;
    @include flex($justify: space-between);

    &__content {
        @include flex;
    }
    &--success {
        color: #044433;
        border-color: #044433;
        background-color: #b2d6cd;
    }
    &--warning {
        color: #66570b;
        border-color: #66570b;
        background-color: #f9e896;
    }
    &--info {
        color: #103394;
        border-color: #6384e0;
        background-color: #e8edfa;
    }
    &--danger {
        color: #72240c;
        border-color: #7b0000;
        background-color: #f5b0b0;
    }
    &--dark {
        color: #292929;
        border-color: #434343;
        background-color: #ededed;
    }
    &--light {
        color: #434343;
        border-color: #434343;
        background-color: $white;
    }

    &__close {
        background-color: transparent;
        &:after {
            top: 0px;
            right: 12px;
            content: "";
            bottom: 0px;
            margin: auto;
            width: 10px;
            height: 10px;
            position: absolute;
            transition: all 0.4s;
            -webkit-mask: url("../../../assets/svg/close.svg") no-repeat 50% 50%;
            mask: url("../../../assets/svg/close.svg") no-repeat 50% 50%;
            -webkit-mask-size: cover;
            mask-size: cover;
            display: inline-block;
        }

        &--success:after {
            background-color: #044433;
        }
        &--warning:after {
            background-color: #66570b;
        }
        &--info:after {
            background-color: #103394;
        }
        &--danger:after {
            background-color: #72240c;
        }
        &--dark:after,
        &--light:after {
            background-color: #292929;
        }
    }
}
