@import "../../../../shared/styles/";

.msv-badge {
    border-radius: 500px;
    border: 1px solid;
    box-sizing: border-box;
    width: max-content;
    @include flex;
    &--small {
        padding: 2px 4px;
    }
    &--medium {
        padding: 4px 8px;
    }
    &--large {
        padding: 12px;
    }
}

.blue {
    &--filled {
        color: $white;
        border-color: #103394;
        background-color: #103394;
        svg {
            path {
                fill: $white;
            }
        }
    }
    &--outlined {
        color: #103394;
        border-color: #6384e0;
        background-color: #e8edfa;
        svg {
            path {
                fill: #103394;
            }
        }
    }
}

.red {
    &--filled {
        color: $white;
        border-color: #7b0000;
        background-color: #7b0000;
        svg {
            path {
                fill: $white;
            }
        }
    }
    &--outlined {
        color: #72240c;
        border-color: #7b0000;
        background-color: #f5b0b0;
        svg {
            path {
                fill: #72240c;
            }
        }
    }
}

.green {
    &--filled {
        color: $white;
        border-color: #044433;
        background-color: #044433;
        svg {
            path {
                fill: $white;
            }
        }
    }
    &--outlined {
        color: #044433;
        border-color: #044433;
        background-color: #b2d6cd;
        svg {
            path {
                fill: #044433;
            }
        }
    }
}

.grey {
    &--filled {
        color: $white;
        border-color: #434343;
        background-color: #434343;
        svg {
            path {
                fill: $white;
            }
        }
    }
    &--outlined {
        color: #292929;
        border-color: #434343;
        background-color: #ededed;
        svg {
            path {
                fill: #292929;
            }
        }
    }
}

.yellow {
    &--filled {
        color: #f9e896;
        border-color: #66570b;
        background-color: #66570b;
        svg {
            path {
                fill: #f9e896;
            }
        }
    }
    &--outlined {
        color: #66570b;
        border-color: #66570b;
        background-color: #f9e896;
        svg {
            path {
                fill: #66570b;
            }
        }
    }
}

.white {
    &--filled,
    &--outlined {
        color: #434343;
        border-color: #434343;
        background-color: $white;
        svg {
            path {
                fill: #434343;
            }
        }
    }
}
