@import "../../../../styles/";

.msv-sideBarItem {
    gap: 8px;
    opacity: 0px;
    padding: 12px;
    background: none;
    box-shadow: none;
    transition: all 0.4s ease;
    border: 0px 0px 0px 1.5px;
    @include flex($justify: flex-start);
    &--close {
        justify-content: center;
    }
}
