@import "../../../../styles/";

.msv-sideBarItem {
    width: 100%;
    padding: 12px;
    background: none;
    box-shadow: none;
    transition: all 0.4s ease;
    @include flex($justify: flex-start);

    &:hover {
        background: var(--Color-Background-Surface-Neutral-Light, #ededed);
    }
    &:focus {
        box-shadow: -1px 1px 2px 0px #0000002e inset;
        border: 0.5px solid var(--Color-Border-Neutral-Light, #c7c7c7);
        background: var(--Color-Background-Surface-Neutral-Light, #ededed);
    }

    &__icon {
        &--right {
            @include flex($dir: row-reverse, $justify: space-between);
        }
    }

    &--close {
        justify-content: center;

        p {
            display: none;
        }
    }
}

.msv-singleSideBarItem {
    &__subItems {
        padding: 10px;
        display: none;
    }
    &:hover &__subItems {
        @include flex($dir: column);
    }
}
