.form-container {
    display: flex;
    flex-direction: column;
    
    .form-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .form-row .textfield {
        flex: 1; /* This ensures all TextFields take up equal space */
        margin-right: 10px; /* Adjust margin as needed */
    }
    
    .actions-container {
        display: flex;
        justify-content: space-between;
    }
}